@font-face {
    font-family: mainFont;
    src: url(/assets/fonts/anuphan/Anuphan-VariableFont_wght.ttf);
    font-display: swap;
}

@font-face {
    font-family: secondFont;
    src: url(/assets/fonts/openSans/OpenSans.ttf);
    font-display: swap;
}

@font-face {
    font-family: tertiaryFont;
    src: url(/assets/fonts/openSans/OpenSans-Italic.ttf);
    font-display: swap;
}
