* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: secondFont;
    font-size: 18px;
    letter-spacing: 1px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* .container {
    margin: 0 auto;
    padding: 40px 20px;
    max-width: 1550px;
} */
/* .section-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
} */

/* .section-header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 620px;
    gap: 15px;
    text-align: center;
} */

/* .section-header-description,
.section-header-label {
    color: var(--tertiary-dark-color);
}

.section-header-label {
    text-transform: uppercase;
}

.section-header-title {
    position: relative;
    color: var(--primary-dark-color);
    font-weight: bold;
    font-size: 30px;
} */

