.container-content{
    background: var(--primary-light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 260px;
    
    padding: 30px 10px  ;
}
.title h2{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}
.content-about{
    background: var(--primary-light-color);
    width: 90%;
}
.content-left p{
    font-size: 16px;
}
.content-left ul{
    margin-top: 24px;
}
.content-left ul li{
    font-size: 16px;
    margin-top: 18px;
}
.content-left img{
    width: 25px;
    height: 25px;
    margin-right: 13px;
}


.content-right{
    margin-top: 40px;
}

.content-right p{
    font-size: 16px;
}


.content-right button{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #47b2e4;
    animation-delay: 0.8s;
    margin-top: 26px;
    
    border: 3px solid var(--secondary-light-color);
}

/**/
.content-one{
    background: #f3f5fa;;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 260px;
    
}
.content-about-two{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    margin: 60px 0;
}
.one-left{
    width: 100%;
    margin: 60px 0;
}
.one-left h3{
    font-weight: 400;
    font-size: 30px;
    color: #37517e;
}
.one-left h3 span{
    font-weight: 700;
}
.one-left p{
    margin-top: 16px;
    font-size: 15px;
    color: #848484;
}
.one-left .list{
    
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    
    color: #343a40;;
    cursor: pointer;
}
.one-left .list li{
    padding: 20px 12px;
    background: var(--primary-light-color);
    margin: 20px 0;
}
.one-left .list li span{
    margin-right: 9px;
    color: #47b2e4;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
}

.one-right{
    width: 100%;
   
    display: flex;
    justify-content: center;
    
}
.one-right img{
    width: 90%;
    height: 90%;
    object-fit: contain;
    max-width: 500px;
}
/**/
.content-two{
    background: var(--primary-light-color);
    min-width: 260px;
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-about-second{
    
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.two-right h3{
    font-weight: 700;
    font-size: 32px;
    color: #37517e;
}
.two-right p{
    font-weight: 700;
    font-size: 16px;
    color: #343a40;
}
.list-two{
    
    margin-top: 20px;
}
.list-details{
    
    display: flex;
    margin-top: 14px;
    flex-direction: column;
}
.list-skills{
    display: flex;
    justify-content: space-between;
    color: #37517e;
    font-weight: 700;
    font-size: 14px;
}
.list-details .one{
    background: #e0e3e9;
    height: 10px;
    width: 100%;
}
.list-details .one .two{
    background: #37517e;
    height: 10px;
    width: 100%;
}
.list-details .one .two-a{
    background: #37517e;
    height: 10px;
    width: 90%;
}
.list-details .one .two-b{
    background: #37517e;
    height: 10px;
    width: 75%;
}
.list-details .one .two-c{
    background: #37517e;
    height: 10px;
    width: 55%;
}
.two-left img{
    width: 90%;
    height: 90%;
    object-fit: contain;
    max-width: 500px;
}
@media (min-width: 768px){
    .content-about-second{
        width: 80%;
    }
}

@media (min-width: 1024px){
    .container-content{
        margin-top: 50px;
    }
    .content-about{
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    .content-left {
        width: 45%;
    }
    .content-right{
        margin-top: 0;
        width: 45%;
    }
    .content-about-two{
        width: 80%;
        flex-direction: row;
        
    }
    .one-left{
        width: 50%;
    }
    .one-right{
        width: 50%;
    }


    .two-left{
        width: 50%;
    }
    .two-right{
        width: 50%;
    }
    

    .content-about-second{
        margin: 80px 0;
        flex-direction: row;
    }
}



















