.contacts-official{
    
    display: flex;
    justify-content: center;
    min-width: 260px;
    text-align: center;
}
.section-contacts{
    width: 90%;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto;

}
.section-contacts h2{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    
    margin-top: 40px;
    color: #37517e;
}
.section-contacts .line{
    
    margin: 0 auto;
    width: 90px;
    height:2px;
    background:  #F3F5FA;
    display: flex;
}
.section-contacts .line span{
    margin: 0 auto;
    height: 4px;
    width: 40px;
    background: #47b2e4;
}
.section-contacts p{
    margin-top: 30px;
    font-size: 16px;
    color: var(--primary-dark-color);
}


.container-section-contact{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* flex-direction: column; */
    margin-top: 30px;
    
}
.contact-right-contacts{
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}
.contact-right-contacts .map{
    width: 90%;
    object-fit: contain;
    
}
.content-right-contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 90%;
    margin: 16px 0;
}
.img-contacts{
    

    font-size: 20px;
    color: #47b2e4;
    float: left;
    width: 44px;
    height: 44px;
    background: #e7f5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.content-right-contacts img{

    width: 25px;
    height: 25px;

}
.details-right-contacts{
    background: #F3F5FA;
    margin-left: 10px;
    text-align: left;
    width: 80%;
}
.details-right-contacts h3{
    
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #37517e;
}
.details-right-contacts span{
    
    margin-bottom: 20px;
    font-size: 14px;
    color: #6182ba;
}


.contact-left-form{
    padding: 30px;
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}
.contact-left-form label{
    padding-bottom: 8px;
    margin-top: 20px;
}
.contact-left-form input{
    

    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

.top-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.top-right-form{
    text-align: left;
    
}
.top-left-form{
    text-align: left;
    
}

.contact-info{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.contact-left-form button{
    margin-top: 30px;
    background: #47b2e4;
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

@media (min-width: 1024px) {
    .contact-right-contacts{
        width: 30%;
    }
    .contact-left-form{
        width: 60%;
    }
}







