.pricing{
    background: var(--primary-light-color);
    display: flex;
    justify-content: center;
    min-width: 260px;
}
.section-pricing{
    
    width: 90%;
    text-align: center;
}
.section-pricing h2{
    margin-top: 30px;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    
    position: relative;
    color: #37517e;
}

.section-pricing .line{
    
    margin: 0 auto;
    width: 90px;
    height:2px;
    background:  #F3F5FA;
    display: flex;
}
.section-pricing .line span{
    margin: 0 auto;
    height: 4px;
    width: 40px;
    background: #47b2e4;
}

.section-pricing p{
    margin-top: 30px;
    font-size: 15px;
}

.container-pricing{
    
    margin: 20px 0px;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.content-pricing{
    margin: 12px 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
    text-align: left;
    padding: 60px 40px;
    border-top: 4px solid #fff;
    max-width: 320px;
    border-radius: 5px;
}
.class{
    border-top: 4px solid #47b2e4;
}
.content-pricing span{
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 20px;
    color: #37517e;
}
.content-pricing h4{
    font-size: 48px;
    color: #37517e;
    font-weight: 400;
    
    margin-bottom: 25px;
}
.content-pricing p{
    color: #47b2e4;
    font-size: 18px;
    display: block;
}
.description-pricing{
    margin: 10px 0;
    
    padding: 6px;
}
.description-pricing ul{
    list-style: none;
    color: #999;
    text-align: left;
    line-height: 20px;
}
.description-pricing ul li{
    margin: 12px 0;
    font-size: 15px;
}
.description-pricing ul .block{
    text-decoration: line-through;
    color: #999;
}

.description-pricing a{
    display: inline-block;
    padding: 12px 35px;
    border-radius: 50px;
    color: #47b2e4;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #47b2e4;
}
.description-pricing a:hover{
    background: #47b2e4;
    color: #fff;
}
.description-pricing .button-special{
    background: #47b2e4;
    color: #fff;
    
}









