
.services{
    background: #f3f5fa;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 260px;
    
}
.section-services{
    
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    padding-bottom: 40px;
}

.section-services h2{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 9px;
    position: relative;
    color: #37517e;
    
}
.section-services .line{
    
    margin: 0 auto;
    width: 90px;
    height:2px;
    background:  #F3F5FA;
    display: flex;
}
.section-services .line span{
    margin: 0 auto;
    height: 4px;
    width: 40px;
    background: #47b2e4;
}



.section-services p{
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: var(--primary-dark-color);
}
.containers-services{
   padding: 10px 0;
   margin: 10px 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.container-list{
    background: var(--primary-light-color);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 10px 20px;
    margin: 10px 10px;
    width: 70%;
    height: 280px;
    min-height: 310px;
    max-width: 460px;
}
.container-list img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-top: 30px;

}
.container-list h3{
    font-size: 24px;
    color: #37517e;
}
.container-list span{
    font-size: 14px;
    color: var(--primary-dark-color);
}


@media (min-width: 1024px){
    .container-list{
        width: 20%;
        
    }
}


